<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="29"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS" tools:ignore="ProtectedPermissions"/>

    <!-- Custom signature permission to protect internal widget & playback broadcasts -->
    <permission android:name="${applicationId}.permission.WIDGET_CONTROL"
        android:protectionLevel="signature" />
    <uses-permission android:name="${applicationId}.permission.WIDGET_CONTROL" />

    <application
        android:label="${appName}"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher"
        android:allowBackup="true"
        android:supportsRtl="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:enableOnBackInvokedCallback="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules">

        <meta-data
            android:name="com.google.android.gms.car.application"
            android:resource="@xml/automotive_app_desc" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
                <category android:name="android.intent.category.APP_MUSIC"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MUSIC_PLAYER" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.APP_MUSIC" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.media.action.MEDIA_PLAY_FROM_SEARCH" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="pulsrWidget" />
            </intent-filter>
            <!-- Intent filter to open YouTube Music & YouTube links -->
            <intent-filter android:label="${appName}">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:host="music.youtube.com" />
                <data android:host="www.youtube.com" />
                <data android:host="youtube.com" />
                <data android:host="m.youtube.com" />
                <data android:host="youtu.be" />
            </intent-filter>
            <!-- Intent filter for shared YouTube / YouTube Music links (Share via Pulsr) -->
            <intent-filter android:label="${appName}">
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
            <!-- Intent filter to open audio files from File Explorers & Downloads -->
            <intent-filter android:label="${appName}">
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="file" />
                <data android:scheme="content" />
                <data android:mimeType="audio/*" />
                <data android:mimeType="application/ogg" />
                <data android:mimeType="application/x-ogg" />
                <data android:mimeType="application/flac" />
                <data android:mimeType="application/x-flac" />
                <data android:mimeType="application/x-matroska" />
            </intent-filter>
            <intent-filter android:label="${appName}">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="file" />
                <data android:scheme="content" />
                <data android:host="*" />
                <!-- Layered pathPattern matchers for filenames with multiple dots (B7) -->
                <data android:pathPattern=".*\\.mp3" />
                <data android:pathPattern=".*\\..*\\.mp3" />
                <data android:pathPattern=".*\\..*\\..*\\.mp3" />
                <data android:pathPattern=".*\\.flac" />
                <data android:pathPattern=".*\\..*\\.flac" />
                <data android:pathPattern=".*\\..*\\..*\\.flac" />
                <data android:pathPattern=".*\\.wav" />
                <data android:pathPattern=".*\\..*\\.wav" />
                <data android:pathPattern=".*\\..*\\..*\\.wav" />
                <data android:pathPattern=".*\\.aac" />
                <data android:pathPattern=".*\\..*\\.aac" />
                <data android:pathPattern=".*\\..*\\..*\\.aac" />
                <data android:pathPattern=".*\\.m4a" />
                <data android:pathPattern=".*\\..*\\.m4a" />
                <data android:pathPattern=".*\\..*\\..*\\.m4a" />
                <data android:pathPattern=".*\\.ogg" />
                <data android:pathPattern=".*\\..*\\.ogg" />
                <data android:pathPattern=".*\\..*\\..*\\.ogg" />
                <data android:pathPattern=".*\\.opus" />
                <data android:pathPattern=".*\\..*\\.opus" />
                <data android:pathPattern=".*\\..*\\..*\\.opus" />
                <data android:pathPattern=".*\\.mka" />
                <data android:pathPattern=".*\\..*\\.mka" />
                <data android:pathPattern=".*\\..*\\..*\\.mka" />
            </intent-filter>
        </activity>
        
        <service android:name="com.ryanheise.audioservice.AudioService"
            android:foregroundServiceType="mediaPlayback"
            android:exported="true" tools:ignore="Instantiatable">
            <intent-filter>
                <action android:name="android.media.browse.MediaBrowserService" />
            </intent-filter>
        </service>

        <receiver android:name="androidx.media.session.MediaButtonReceiver"
            android:exported="true" tools:ignore="Instantiatable">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".NowPlayingWidget"
            android:label="${appName} Widget"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info" />
        </receiver>

        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>
</manifest>
